<div id="<%= dom_id shot %>">
  <p>
    <strong>Title:</strong>
    <%= shot.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= shot.description %>
  </p>

  <p>

  <i> By <%= current_user.email %> </i>

  <p>
  <br>

</div>
