<h1>New shot</h1>

  <% if @shot.errors.any? %>

    
   <% @shot.errors.full_messages.each do |error| %></h1>
     <h2><%= error %></h2>
   <% end %>
  <% end %>

<%= render "form", shot: @shot %>

<br>

<div>
  <%= link_to "Back to shots", shots_path %>
</div>
